@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-color: #e5e5e5;
  display: grid;
  place-content: center;
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: poppins;
  color: #7a90bb;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 160rem;
  max-width: 98vw;
  background-color: #161c27;
  display: grid;
  place-content: center;
  padding-top: 29.6rem;
  padding-bottom: 29.6rem;
  justify-self: center;
}
.content {
  border-radius: 30px;
  border: 1.6rem solid #242c3d;
  background-color: #111620;
  padding: 10rem;
  width: 101.7rem;
  max-width: 95vw;
  justify-self: center;
}
.heading {
  font-size: 1.6rem;
  font-weight: 400;
}
.title {
  font-family: merriweather;
  font-size: 2.6rem;
  font-family: 700;
  margin: 2.5rem 0;
  color: #9ab7ef;
}
.search__field {
  position: relative;
  margin: 2.5rem 0;
}
.search__input {
  border: 1px solid #273245;
  width: 100%;
  background-color: #161c27;
  border-radius: 5px;
  padding: 3.2rem 3rem 3.2rem 7.8rem;
}
.search__input::placeholder,
.search__input {
  color: #7a90bb;
  font-size: 1.8rem;
}
.search__img {
  position: absolute;
  top: 50%;
  left: 3.4rem;
  transform: translateY(-50%);
  width: 3.2rem;
}
.recipe__list {
  display: flex;
  flex-wrap: wrap;
}
.recipe__item {
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  background-color: #142037;
  margin: 0.5rem 1rem 0.5rem 0;
}
.recipe__item:hover {
  background-color: #92b6ff;
  color: #111620;
}

@media screen and (max-width: 620px) {
  .content {
    padding: 3rem;
  }
}
@media screen and (max-width: 470px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 340px) {
  .search__input {
    padding: 2.2rem 1rem 2.2rem 5rem;
  }

  .search__img {
    left: 1.4rem;
  }
}
