@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #e5e5e5;
  font-family: poppins;
}

.wrapper {
  background-color: #cccecf;
  width: 160rem;
  max-width: 100vw;
  display: grid;
  place-content: center;
  padding: 18.5rem 0;
  z-index: -2;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 9rem;
  align-items: center;
}
.storage__container {
  padding: 6rem 6rem 7.2rem;
  background-color: #ebebeb;
  border-radius: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 4.7rem;
  row-gap: 5.4rem;
  position: relative;
  align-items: center;
}
.storage__container::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 1.8rem;
  bottom: 0;
  right: 4.2rem;
  border: 1px solid #fff;
  border-radius: 2.4rem;
  background-color: #ffffff33;
  z-index: -1;
}

.storage__head {
  grid-column: 1 /-1;
  display: flex;
  align-items: center;
}

.storage__back-wrapper {
  width: 6rem;
  height: 6rem;
  border-radius: 1.6rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.6rem;
}
.storage__back-img {
  width: 4.4rem;
}
.storage__title {
  font-size: 2.4rem;
  font-weight: 500;
}

.storage__pie {
  width: 27rem;
  height: 27rem;
  border-radius: 50%;
  background-image: conic-gradient(#434fc0 10%, #a0cce2 10%);
  position: relative;
}
.storage__pie::after {
  content: "";
  width: 29.3rem;
  height: 29.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ffffff99;
}

.storage__size,
.storage__used {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.storage__size span,
.storage__used span {
  display: block;
  font-size: 1.6rem;
}

.storage__used {
  color: #424fc0;
  margin-bottom: 3rem;
}

.btn {
  padding: 1.6rem 2.4rem;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.plans {
  position: relative;
}

.plans::after {
  content: "";
  border: 1px solid #fff;
  background-color: #ffffff33;
  top: -3.5rem;
  left: 2.6rem;
  right: 3.9rem;
  bottom: -2.8rem;
  position: absolute;
  border-radius: 2.4rem;
  z-index: -1;
}
.plans__text {
  font-weight: 500;
  font-size: 2.4rem;
  margin-left: 6.7rem;
  margin-bottom: 1rem;
}
.plans__card {
  background-color: #ebebeb;
  width: 60rem;
  height: 23.7rem;
  max-width: 90vw;
  border-radius: 2.4rem;
  padding: 7rem 6rem;
  margin-top: 1.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.plans__card-title {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 600;
  position: relative;
}
.plans__card-title::before {
  content: "";
  width: 2.6rem;
  height: 0.6rem;
  border-radius: 2.8rem;
  background-color: #6cc58f;
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
}

.plans__card--current-plan {
  background-color: #000;
  color: #fff;
}

.plans__card-text {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.plans__card-design {
  position: absolute;
  bottom: 0;
  width: 28rem;
}
.plans__card-design--30 {
  right: 0;
}
.plans__card-design--100 {
  left: 0;
}
.plans__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.plans__body .btn {
  font-size: 1.8rem;
}

.plans__card-desc {
  font-weight: 600;
  color: #424fc0;
  align-self: flex-end;
}

.title--30::before {
  background-color: #e89a62;
}
.title--100::before {
  background-color: #89a5ee;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    padding: 10rem 0;
  }
  .content {
    grid-template-columns: 1fr;
    row-gap: 12rem;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 5rem 0;
  }
  .storage__container {
    grid-template-columns: 1fr;
    padding: 4rem 4rem 5.2rem;
  }
  .storage__pie {
    justify-self: center;
  }

  .storage__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
  .storage__size,
  .storage__used {
    margin-bottom: 0;
  }
  .btn {
    align-self: center;
    justify-self: start;
  }
  .plans__card {
    padding: 5rem 3.5rem;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 7px;
  }
}
