@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
body {
  font-family: poppins;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #e5e5e5;
  color: #171645;
}
.wrapper {
  width: 30rem;
  max-width: 100vw;
  text-align: center;
  background-color: #f8f8f8;
  padding: 3rem;
  border-radius: 1rem;
  margin: 2rem 0;
}
.form__header {
  text-align: center;
  font-size: 2rem;
  font-family: merriweather;
  font-weight: 900;
}
.form__input {
  display: block;
  background: #e5e5e5;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn--dark {
  background-color: #171645;
  color: #f8f8f8;
  border: none;
}
.btn,
.form__input {
  transition: all 0.2s;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
  outline: none;
  border: 1px solid #dadaf2;
  width: 100%;
}
.btn:hover,
.form__input:focus {
  transform: scale(0.98) translateY(-2px);
  opacity: 95%;
}
.logo-image {
  height: 1rem;
  padding-right: 0.5rem;
}
.or {
  margin: 1.5rem;
  text-transform: uppercase;
  opacity: 60%;
}
.info {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info span {
  display: inline-block;
  padding: 0 0.5rem;
  font-weight: bolder;
  align-self: bottom;
  font-size: 2rem;
}

::placeholder {
  opacity: 60%;
  color: #171645;
  font-family: inherit;
}
